body {
    background-color: #1ca0f2;
    margin: 0;
}

.banner {
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
    display: flex;
    position: fixed;
    max-height: 125px;
    background-color: #FFF;
    z-index: 10;
    font-size: 15px;
}

.logo-link {
    display: flex;
    width: auto;
    flex-flow: wrap;
    float: left;
    height: 100%;
}

.logo-link:link, .tab:link{
    text-decoration: none;
}

.logo-link:visited, .tab:visited{
    text-decoration: none;
}

.logo-link:hover, .tab:hover{
    background-color: #ecf0f1;
    opacity: 20%;
}

@media only screen and (max-width: 1110px) {
    .search-box {
        display: none;
    }
}

@media only screen and (max-width: 685px) {
    .tab {
        display: none;
    }
}

.logo {
    margin: auto 8px;
}

.title {
    font-family: "Helvetica Neue";
    font-size: 22px;
    color: #1ca0f2;
    padding-left: 8px;
    padding-right: 8px;
}

.banner-contents {
    margin: 6px auto;
    width: 80%;
}

.banner-tabs {
    display: flex;
    font-family: "Helvetica Neue";
    font-size: 18px;
    float: left;
    margin-left: 12px;
}

.tab {
    margin-right: 8px;
    margin-left: 8px;
    padding-left: 12px;
    padding-right: 12px;
    color: #5f6161;
    width: 78px;
    text-align: center;
}

.search {
    float: right;
    margin-top: 1em;
}

.search-box {
    width: 340px;
    line-height: 30px;
    font-family: "Helvetica Neue";
    font-size: 18px;
    color: #5f6161;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
    background: rgba(236, 240, 241, .8) url("assets/search.png") no-repeat 12px 6px;
    padding-left: 36px;
}

.search-box:focus {
    color: #000;
    background-color: #FFF;
    border: #1ca0f2 solid 1px;
    border-radius: 15px;
    outline: none;
}

.main-container {
    padding-top: 72px;
}

.tweet-box {
    margin: 14px auto auto;
    height: auto;
    width: 500px;
    background-color: #ecf0f1;
    border-radius: 12px;
}

.tweet-comp {
    padding: 12px 4px;
}

.tweet-input {
    margin: auto;
    display: block;
    width: 96%;
    border-radius: 2px;
    height: 70px;
    border: none;
    resize: none;
    font-size: 16px;
    padding-top: 4px;
    padding-left: 4px;
}

.info-container {
    display: none;
    font-family: "Helvetica Neue";
    font-size: 10px;
    float: left;
    padding-top: 4px;
}

.info-container strong {
    font-size: 14px;
}

.info {
    margin-left: 12px;
}

.char-button-container {
    display: none;
    font-family: "Helvetica Neue";
    color: #8a8e8f;
    float: right;
    padding-top: 8px;
}

.char-count {
    margin-right: 12px;
    font-size: 12px;
}

.send-tweet {
    margin-right: 12px;
    color: #fff;
    background-color: #ff2f48;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.tweet-container {
    display: block;
    height: auto;
    width: 500px;
    background-color: #ecf0f1;
    margin: 14px auto;
    border-radius: 12px;
}

.contents {
    display: flex;
    width: 100%;
}

.avi {
    height: 60px;
    width: 60px;
    padding: 12px;
    border-radius: 4px;
    float: left;
}

.tweet-text {
    font-family: "Helvetica Neue";
    float: left;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.tweet-header {
    width: 100%;
    margin-top: -8px;
}

.handle {
    float: left;
}

.date {
    float: right;
    margin-left: auto;
    padding-top: 6px;
    font-size: 12px;
    color: #8a8e8f;
}

.tweet {
    float: left;
    width: 100%;
    word-wrap: break-word;
    text-align: left;
    margin: -12px 0 12px;
}

.expand {
    display: flex;
    width: 100%;
    margin-block-end: 1em;
}

.expand button {
    font-size: 12px;
    color: #8a8e8f;
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
}

.tab-1 {
    float: left;
    margin-right: 25%;
}

.tab-2, .tab-3, .tab-4, .tab-5 {
    display: none;
    float: right;
    margin-left: auto;
    padding-left: 24px;
}

.tab-1:hover, .tab-2:hover, .tab-3:hover, .tab-4:hover, .tab-5:hover {
    color: #1ca0f2;
}

.expand:hover > .tab-2, .expand:hover > .tab-3, .expand:hover > .tab-4, .expand:hover > .tab-5 {
    display: inline-flex;
}

.timeline {
    margin-top: 12px;
}

.follower-avi-container {
    display: inline-flex;
    float: right;
}

.stats {
    display: none;
    margin-bottom: 8px;
}

.info-stats-fav, .info-stats-rts {
    margin-top: 10px;
    font-size: 14px;
    margin-block-end: 0;
    margin-block-start: 0em;
}

.info-stats-rts {
    margin-left: 8px;
}

.fav-rt-container {
    display: inline-flex;
    float: left;
}

.small-avi {
    height: 24px;
    float: right;
    width: 24px;
    padding-left: 8px;
    margin-left: auto;
}